*.lerna_backup

npm-debug.log
node_modules/
dist/
bower_components/
coverage/

.nyc_output/

dist/
features/dist/
features/assets/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.iml
*.ntvs*
*.njsproj
*.sln
*.suo
*.sw?
.vscode/settings.json
